body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:752px;
}
#u0 {
  position:absolute;
  left:364px;
  top:64px;
  width:400px;
  height:752px;
}
#u1 {
  position:absolute;
  left:2px;
  top:368px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:383px;
  top:138px;
  width:360px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:441px;
  top:152px;
  width:129px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:389px;
  top:143px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:383px;
  top:198px;
  width:360px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:644px;
  top:251px;
  width:81px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:508px;
  top:713px;
  width:116px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:624px;
  top:713px;
  width:119px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:383px;
  top:713px;
  width:125px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:384px;
  top:297px;
  width:360px;
  height:358px;
  overflow:hidden;
  touch-action:pan-y;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:358px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:199px;
}
#u21 {
  position:absolute;
  left:63px;
  top:38px;
  width:218px;
  height:198px;
}
#u22 {
  position:absolute;
  left:2px;
  top:86px;
  width:214px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 170, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:105px;
  top:295px;
  width:140px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:2px;
}
#u25 {
  position:absolute;
  left:245px;
  top:315px;
  width:115px;
  height:1px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:358px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:199px;
}
#u27 {
  position:absolute;
  left:63px;
  top:38px;
  width:218px;
  height:198px;
}
#u28 {
  position:absolute;
  left:2px;
  top:86px;
  width:214px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u29 {
  position:absolute;
  left:105px;
  top:295px;
  width:140px;
  height:40px;
  color:#1E1E1E;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:2px;
}
#u31 {
  position:absolute;
  left:245px;
  top:315px;
  width:115px;
  height:1px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u33 {
  position:absolute;
  left:0px;
  top:315px;
  width:105px;
  height:1px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:358px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:199px;
}
#u35 {
  position:absolute;
  left:63px;
  top:38px;
  width:218px;
  height:198px;
}
#u36 {
  position:absolute;
  left:2px;
  top:86px;
  width:214px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u37 {
  position:absolute;
  left:105px;
  top:295px;
  width:140px;
  height:40px;
  color:#1E1E1E;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:2px;
}
#u39 {
  position:absolute;
  left:245px;
  top:315px;
  width:115px;
  height:1px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u41 {
  position:absolute;
  left:0px;
  top:315px;
  width:105px;
  height:1px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:358px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:199px;
}
#u43 {
  position:absolute;
  left:63px;
  top:38px;
  width:218px;
  height:198px;
}
#u44 {
  position:absolute;
  left:2px;
  top:86px;
  width:214px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u45 {
  position:absolute;
  left:105px;
  top:295px;
  width:140px;
  height:40px;
  color:#1E1E1E;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u47 {
  position:absolute;
  left:0px;
  top:315px;
  width:105px;
  height:1px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
